* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: lightgreen;
}

.title a {
	color: green;
	font-size: 44px;
}

header {
	height: 18%;
	width: 100%;
	background-position: center;
	background-size: cover;
	position: absolute;
}

.navbar {
	display: flex;
	align-items: center;
	padding: 30px 30px 20px 50px;
	background-color: white;
	position: fixed;
	width: 100%;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

nav {
	flex: 1;
	text-align: right;
}

nav ul {
	display: inline-block;
	list-style: none;
}

nav ul li {
	display: inline-block;
	margin-right: 50px;
}

nav ul li a {
	font-size: 28px;
	color: green;
	font-family: sans-serif;
}

.imgslider img {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border: 10px solid white;
}

.banner1, .banner2, .banner3, .banner4 {
	margin-top: 85px;
	height: 90%;
	width: 100%;
	position: absolute;
}

.banner1 {
	animation: slide1 10s linear infinite;
}

.banner2 {
	animation: slide2 10s linear infinite;
}

.banner3 {
	animation: slide3 10s linear infinite;
}

.banner4 {
	animation: slide4 10s linear infinite;
}

@keyframes slide1 {
	0%, 100% {
		visibility: visible;
	}
	25%, 50%, 75% {
		visibility: hidden;
	}
}

@keyframes slide2 {
	0%, 25%, 75%, 100% {
		visibility: hidden;
	}
	50% {
		visibility: visible;
	}
}

@keyframes slide3 {
	0%, 50%, 100% {
		visibility: hidden;
	}
	75% {
		visibility: visible;
	}
}

@keyframes slide4 {
	0%, 75%, 100% {
		visibility: hidden;
	}
	100% {
		visibility: visible;
	}
}

.icons-container {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	padding: 50px 15px;
	margin-top: 600px;
}

.icons-container .icons {
	padding: 20px;
	width: 100%;
	display: flex;
	align-items: center;
	border: solid;
}

.icons-container .icons img {
	height: 5rem;
	margin: 0 40px;
}

.icons-container .icons h3 {
	color: #333;
	padding-bottom: 10px;
	font-size: 25px;
}

.icons-container .icons span {
	color: #555;
	font-size: 15px;
}

.Trending-title, .cat-title, .selling-title, .blog-title {
	font-size: 30px;
	text-align: center;
	margin-top: 20px;
	font-family: Arial, sans-serif;
	letter-spacing: 2px;
}

.Trending, .selling, .Categories, .Blogs {
	display: flex;
	padding: 20px;
}

.Trending .products, .selling .products, .Categories .card, .Blogs .blog {
	margin: 10px;
	width: 100%;
	border: solid lightgray;
	padding: 10px;
	transition: box-shadow 0.3s;
}

.Trending .products:hover, .selling .products:hover, .Blogs .blog:hover {
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.Categories .card:hover {
	background: lightgreen;
}

.Trending .products .img, .selling .products .img, .Categories .card .img, .Blogs .blog .blog-img {
	height: 200px;
	width: 100%;
}

.Trending .products .img img, .selling .products .img img, .Categories .card .img img, .Blogs .blog .blog-img img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.Trending .products .content, .selling .products .content, .Categories .card .content, .Blogs .blog .blog-content {
	padding: 10px 20px;
	font-size: 25px;
	font-weight: 600;
}

.Trending .products .content h3, .selling .products .content h3, .Blogs .blog .blog-content h5 a {
	color: green;
}

.Trending .products .content h4 a:hover, .Categories .card .content a:hover, .Blogs .blog .blog-content h5 a:hover {
	color: gold;
}

.products .fa {
	color: gold;
	font-size: 15px;
}

del {
	color: gray;
}

.Blogs .blog .blog-content h6 {
	text-align: center;
	font-size: 20px;
	color: grey;
}

.Blogs .blog .blog-content h5 {
	margin-top: 20px;
	text-align: center;
	font-size: 25px;
}

.Blogs .blog .blog-content p {
	margin-top: 20px;
	font-size: 20px;
}

.card-btn {
	margin-top: 10px;
	width: 100%;
	padding: 15px;
	font-size: 20px;
	text-align: center;
	color: green;
	background-color: lightgreen;
	border: none;
	border-radius: 0.4rem;
	cursor: pointer;
	transition: background-color 0.3s;
}

.card-btn:hover {
	background-color: #c2cffc;
}

.v-container {
	width: 96.3%;
	height: 94%;
	position: relative;
	background-color: black;
	margin-top: 20px;
	border: 12px solid white;
	border-left-width: 20px;
	border-right-width: 20px;
}

.v-container video {
	width: 100%;
	height: 100%;
}

.text-box {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	margin-left: 50px;
	padding-left: 50px;
	height: 100%;
	width: 100%;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 70px;
	font-weight: 900;
	mix-blend-mode: multiply;
}

.video p {
	margin: 10px auto 40px;
	font-size: 25px;
	color: green;
	background-color: lightgreen;
	padding: 10px;
	width: 50%;
	border: solid;
}

.video {
	margin-top: 30px;
	text-align: center;
}

.video iframe {
	padding: 20px;
	width: 100%;
	height: 80%;
}

footer {
	margin-top: 50px;
	width: 100%;
	background-color: lightgreen;
}

.BackToTop {
	padding: 15px;
	background-color: green;
}

.BackToTop a {
	color: white;
}

.BackToTop a:hover {
	color: lightgreen;
}

.main-content {
	display: flex;
}

.main-content .box {
	flex-basis: 50%;
	padding: 10px 20px;
}

.box h2 {
	font-size: 20px;
	font-weight: 600;
	text-transform: uppercase;
}

.box .content {
	margin-top: 20px;
	font-size: 18px;
	position: relative;
}

.box .content:after {
	position: absolute;
	content: '';
	top: -10px;
	height: 2px;
	width: 20%;
	background: red;
}

.left .content p {
	text-align: justify;
}

.left .content .social {
	margin-top: 20px;
}

.left .content .social a {
	margin-top: 20px;
}

.left .content .social a span {
	height: 40px;
	width: 40px;
	background: lightgreen;
	color: black;
	line-height: 40px;
	text-align: center;
	font-size: 18px;
	border-radius: 5px;
	transition: background-color 0.3s, color 0.3s;
}

.left .content .social a span:hover {
	background: green;
	color: lightgreen;
}

.center .content .downtitle {
	margin-top: 90px;
	font-size: 50px;
	text-align: center;
	color: white;
	border: solid;
	background: green;
}

.right form .text, .right form .msg {
	margin-bottom: 2px;
}

.right form input, .right form textarea {
	width: 100%;
	font-size: 20px;
	background: white;
	padding-left: 10px;
	border: 1px solid #222;
}

.right form input:focus, .right form textarea:focus {
	outline-color: #3498db;
}

.right form input {
	height: 35px;
}

.right form .btn {
	margin-top: 5px;
}

.right form .btn button {
	height: 40px;
	width: 100%;
	border: none;
	outline: none;
	background: green;
	color: lightgreen;
	font-size: 20px;
	font-weight: 500;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}

.right form .btn button:hover {
	background: red;
	color: white;
}

.bottom center {
	padding: 12px;
	font-size: 18px;
	background: green;
}

.bottom center span {
	color: white;
}
